body {
  background-color: rgb(146, 143, 143);
}

h1 {
  text-align: center;
  color: black;
  border: 3px solid gray;
  border-radius: 50px;
  background-color: gray;
  /*box-shadow: 1px 3px black;*/
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  /*text-shadow: 1px 1px 2px white(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;*/
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

header {
  margin: 20px;
  text-align: center;
}

h1:hover {
  transform: scale(0.99);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
}

@keyframes moveAndChangeColor {
  0% {
    transform: translateX(0) translateY(0);
    background-color: gray;
  }
  25% {
    transform: translateX(10px) translateY(-10px);
    background-color: #FF6347; /* Tomato */
  }
  50% {
    transform: translateX(-10px) translateY(10px);
    background-color: #FFD700; /* Gold */
  }
  75% {
    transform: translateX(10px) translateY(10px);
    background-color: #ADFF2F; /* GreenYellow */
  }
  100% {
    transform: translateX(0) translateY(0);
    background-color: gray;
  }
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #575757;
  border-radius: 5px;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.burger div {
  width: 25px;
  height: 3px;
  background: #fff;
  transition: all 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .burger {
    display: flex;
  }

  .nav-active {
    display: flex;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.navbar {
  border: 3px solid gray;
  border-radius: 50px;
  background-color: gray;
  height: 40px;
}

button {
  width: 100%;
  padding: 2px;
  color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin: 2px;
}

button:hover {
  background-color: /*#2980b9;*/ #575757;
}

.form-group {
  display: flex;
}

input[type="submit"]:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

footer {
  border: 3px solid gray;
  display: inline;
}